<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>24</key>
	<string>新番</string>
	<key>11</key>
	<string>连载新番</string>
	<key>43</key>
	<string>天朝出品</string>
	<key>26</key>
	<string>OAD·OVA·剧场版</string>
	<key>10</key>
	<string>完结番组</string>
	<key>23</key>
	<string>影剧</string>
	<key>39</key>
	<string>电视剧</string>
	<key>38</key>
	<string>电影</string>
	<key>16</key>
	<string>综艺娱乐</string>
	<key>27</key>
	<string>完结剧集</string>
	<key>22</key>
	<string>三次元</string>
	<key>9</key>
	<string>喜闻乐见</string>
	<key>32</key>
	<string>娱乐鬼畜</string>
	<key>57</key>
	<string>科技·数码</string>
	<key>61</key>
	<string>运动·体育</string>
	<key>65</key>
	<string>军事情报</string>
	<key>15</key>
	<string>宠物·猫·狗</string>
	<key>21</key>
	<string>游戏</string>
	<key>42</key>
	<string>家机·掌机·手机</string>
	<key>33</key>
	<string>电子竞技</string>
	<key>34</key>
	<string>网络游戏</string>
	<key>44</key>
	<string>单机游戏</string>
	<key>8</key>
	<string>游戏影像</string>
	<key>20</key>
	<string>音乐</string>
	<key>7</key>
	<string>acg音乐</string>
	<key>31</key>
	<string>翻唱·原唱</string>
	<key>37</key>
	<string>舞蹈</string>
	<key>30</key>
	<string>VOCALOID·UTAU</string>
	<key>40</key>
	<string>演奏·乐器</string>
	<key>88</key>
	<string>op·ed·ost·角色歌</string>
	<key>52</key>
	<string>Live·声优相关</string>
	<key>19</key>
	<string>动画</string>
	<key>29</key>
	<string>综合·周边·其他</string>
	<key>25</key>
	<string>原创·配音</string>
	<key>6</key>
	<string>MMD·3D</string>
	<key>28</key>
	<string>MAD·AMV·GMV</string>
</dict>
</plist>
